<div class="mb-2 p-3 col-lg-4 col-xs-12 d-flex justify-content-center">
	<div class="card border-0 shadow align-items-center d-flex flex-row">
		<div class="card-image-top m-2" style="background-image: url('{{'uploads/' ~ loan.image}}')"></div>
		<div class="card-body w-100 d-flex flex-column align-items-center pt-1">
			<p class="card-title pt-3">{{ loan.game_name }}</p>
			<p class="card-text">
				Genre :
				{{ loan.type }}
				<br>
				Nbre de joueurs :
				{{ loan.min_number_players }}
				-
				{{ loan.max_number_players }}
				<br>
				A partir de :
				{{ loan.minimum_players_age }}
				ans
				<br>
				Disponible :
				{% if loan.availability == false %}Non
				{% else %}
					Oui
				{% endif %}<br>
				Propriétaire :
				{{ loan.owner_firstname }}
				{{ loan.owner_lastname }}<br>
				Accepté :
				{% if loan.acceptance == null %}
					En cours
				{% elseif loan.acceptance == true %}
					Oui
				{% else %}
					Non
				{% endif %}
			</p>
		</div>
	</div>
</div>
