<div class="mb-2 p-3 col-lg-6 col-xs-12 d-flex justify-content-center">
	<div class="card border-0 shadow align-items-center">
		<div class="card-image-top mt-2" style="background-image: url('{{'uploads/' ~ game.image}}')"></div>
		<div class="card-subtitle d-flex justify-content-between align-items-center pt-2 "></div>
		<div class="card-body w-100 text-center d-flex flex-column align-items-center pt-1 pb-2">
			<p class="card-title pt-3">{{ game.name }}</p>
			<p class="card-text">
				{{ game.type }}<br>
				De
				{{ game.min_number_players }}
				à
				{{ game.max_number_players }}
				joueurs<br>
				À partir de
				{{ game.minimum_players_age }}
				ans
			</p>
			<div class="d-flex justify-content-center m-0">
				<p class="{% if game.availability == false %} text-danger {% else %} text-success {% endif %}mb-0">●</p>
				<p class="m-0 ms-1">
					{% if game.availability == false and game.request_info.id_status == 2 %}
						Emprunté par<br>
						{{game.request_info.user_firstname}}
						{{game.request_info.user_lastname}}
						{% elseif game.availability == false %}Non disponible
					{% else %}
						Disponible
					{% endif %}
				</p>
			</div>
		</div>
		<div class="card-footer text-center w-100 d-flex justify-content-around">
			<a href="/myaccount/editgame?id={{ game.game_id }}" class="btn tomatoButton action-btn px-1">Modifier</a>
			{% if game.availability == false and game.request_info.id_status == 2 %}
				<a href="/myaccount/returngame?id={{game.request_info.borrow_id}}" class="btn tomatoButton action-btn px-1">Rendu !</a>
			{% elseif game.availability == false %}
				<a href="/myaccount/gameavailability?id={{game.game_id}}&availability=1" class="btn tomatoButton action-btn px-1">Dispo !</a>
			{% elseif game.availability and game.id_status == 1 %}
				<a class="btn btn-secondary noHover">Pas dispo !</a>
			{% elseif game.availability %}
				<a href="/myaccount/gameavailability?id={{game.game_id}}&availability=0" class="btn tomatoButton action-btn px-1">Pas dispo !</a>
			{% endif %}
		</div>
	</div>
</div>
