<form class="form" method="post">
	<div class="mb-3">
		<label for="idGame" class="form-label">Id du propriétaire du jeu</label>
		<input type="number" value="{{ game.id_owner }}" name="idGame" maxlenght="100" class="form-control" required>
	</div>

	<div class="mb-3">
		<label for="gameName" class="form-label">Nom du jeu</label>
		<input type="text" value="{{ game.name }}" name="gameName" id="gameName" maxlenght="100" class="form-control" required>
	</div>

	<div class="mb-3">
		<label for="gameGenre" class="form-label">Genre</label>
		<select name="gameGenre" id="gameGenre" value="{{ game.type }}" class="form-control" required>
			<option value="">--Choisis un genre--</option>
			<option value="strategy">Stratégie</option>
			<option value="ambiance">Jeu d'ambiance</option>
			<option value="cooperative">Coopératif</option>
			<option value="puzzle_game">Réflexion</option>
			<option value="general_culture">Culture Générale</option>
			<option value="escape_game">Escape Game</option>
		</select>
	</div>

	<div class="mb-3">
		<label for="gameNumberPlayers" class="form-label">Nombre de joueurs</label>
		<input type="number" value="{{ game.number_players }}" name="gameNumberPlayers" id="gameNumberPlayers" maxlenght="100" class="form-control" required>
	</div>

	<div class="mb-3">
		<label for="gameAgeMinimumPlayers" class="form-label">A partir de</label>
		<input type="number" value="{{ game.age_minimum_players }}" name="gameAgeMinimumPlayers" id="gameAgeMinimumPlayers" maxlenght="100" class="form-control" required>
	</div>

	<div class="mb-3">
		<label for="gameImage" class="form-label">Image du jeu</label>
		<input type="hidden" name="MAX_FILE_SIZE" value="209715200" class="form-control">
		<input type="file" value="{{ game.image }}" accept="image/*" name="gameImage" id="image" class="form-control">
	</div>

	<div class="mb-3">
		<button class="btn btn-primary">Ajouter</button>
	</div>

</form>
