{% extends 'layout.html.twig' %}

{% block content %}

	<div class="container-fluid d-md-flex p-0">

		{% include 'components/_navAdmin.html.twig' %}

		<section class="m-auto">
			<a href="/games/addAdmin">Ajouter</a>
			<h1 class="text-center">Les jeux</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Type</th>
						<th>Age mini</th>
						<th>Nbre joueurs min</th>
						<th>Nbre joueurs max</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for game in games %}
						<tr>

							<td>{{ game.game_id }}</td>
							<td>{{ game.name }}</td>
							<td>{{ game.type }}</td>
							<td class="text-center">{{ game.minimum_players_age}}</td>
							<td class="text-center">{{ game.min_number_players }}</td>
							<td class="text-center">{{ game.max_number_players }}</td>
							<td class="text-center">{{ game.firstname }}</td>
							<td class="text-center">{{ game.lastname }}</td>
							<td>
								<a href="/games/edit?id={{ game.game_id }}">Modifier</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>

	</div>

{% endblock %}
