{% extends 'layout.html.twig' %}

{% block content %}

	<div class="container-fluid d-md-flex p-0">

		{% include 'components/_navAdmin.html.twig' %}

		<section class="m-auto">
			<a href="/users/add">Ajouter</a>
			<h1 class="text-center">Les utilisateurs</h1>
			<ul>
				{% for user in users %}
					<li>{{ user.id }}.
						{{ user.firstname }}
						{{ user.lastname }}
						/ mail :
						{{ user.email }}
					</li>
					<a href="/users/edit?id={{ user.id }}">Modifier</a>
				{% endfor %}
			</ul>
		</section>

	</div>
{% endblock %}
