{% extends 'layout.html.twig' %}

{% block content %}

	<div class="container-fluid d-md-flex p-0">

		{% include 'components/_navAdmin.html.twig' %}

		<section class="m-auto">
			<h1 class="text-center m-5 mb-4">Les utilisateurs</h1>
			<a href="/users/add" class="text-center">Ajouter</a>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th class="text-center">Email</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>

							<td>{{ user.id}}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.lastname}}</td>
							<td>{{ user.email}}</td>
							<td>
								<a href="/users/edit?id={{ user.id }}">Modifier</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>

	</div>
{% endblock %}
