{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h2 class="text-center my-4">Contactez nous</h2>
	<main>
		<div class='m-3 mb-5'>
			<form method="post" class='form m-3 bg-lightgray p-3 shadow col-sm-10 col-md-8 col-lg-6 mx-auto' accept-charset="UTF-8">
				<input type="hidden" value="{{ user.id }}" name="id">

				<div class='container'>
					<div class="row">
						<div class="mb-3 mr-3 col-sm-6">
							<label for="userFirstname" class="form-label mb-0 d-flex justify-content-center">Prénom *</label>
							<input type="text" value="{{ user.firstname }}" name="userFirstname" id="userFirstname" maxlength="100" class="form-control" required>
						</div>

						<div class="mb-3 col-sm-6">
							<label for="userLastname" class="form-label mb-0 d-flex justify-content-center">Nom *</label>
							<input type="text" value="{{ user.lastname }}" name="userLastname" id="userLastname" maxlength="100" class="form-control" required>
						</div>
					</div>

					<div class="mb-3">
						<label for="userEmail" class="form-label mb-0 d-flex justify-content-center">Email *</label>
						<input type="text" value="{{ user.email }}" name="userEmail" id="userEmail" maxlength="100" class="form-control" required>
					</div>

					<div class="mb-3">
						<label for="userMessage" class="form-label mb-0 d-flex justify-content-center">Message *</label>
						<textarea class="form-control" name="userMessage" id="userMessage" rows="3" maxlength="255" required></textarea>
					</div>


					<p class="form-text">
						* Champs obligatoires
					</p>
					<script src="https://www.google.com/recaptcha/api.js" async defer></script>
					<div class="align-self-center">
						<div class="g-recaptcha m-3 d-flex justify-content-center" data-sitekey="6LfaewIjAAAAADdyvUwWxRkNOZXOa1_TY5cLG0x1" id="captcha"></div>
					</div>
					{% if errors is defined %}
						<ul class="errors text-danger">
							{% for error in errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}

					<span class="d-flex justify-content-center">
						<button class="btn tomatoButton">Envoyer</button>
					</span>
				</div>
			</form>
			{% if thanks is defined %}
				<p class="alert alert-success p-2 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
					{{ thanks }}
				</p>
			{% endif %}
			{% if captcha is defined %}
				<p class="alert alert-danger p-2 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
					{{ captcha }}
				</p>
			{% endif %}
		</div>

		<div class='m-3 mb-5'>
			<h2 class="text-center">Le projet</h1>
			<p class="m-4 mt-3 col-sm-10 col-md-8 col-lg-6 mb-1 mx-auto">
				Le plateau est un site internet développé dans le cadre d’un projet au sein de la Wild Code School de Lyon, et respectant 
																																																																																								le cahier des charges suivant : site web dynamique, développé avec PHP et Twig et en se basant sur un framework MVC mis 
																																																																																								à disposition par l’école. Les maquettes du site ont été réalisées grâce à la plateforme Figma et le suivi des User Stories 
																																																																																								via le logiciel de gestion Trello. Le développement s’est déroulé dans le respect de la méthode Agile Scrum. N’hésitez pas 
																																																																																								à nous contacter pour toute question ou remarque, nous lirons vos retours avec attention. L’intégralité de notre code est 
																																																																																								disponible sur GitHub, sentez-vous libre d’y jeter un œil en cliquant sur l’icône ci-dessous.
			</p>

			<div class="d-flex justify-content-center flex-wrap col-sm-10 col-md-8 col-lg-5 mx-auto">
				<a href="https://github.com/WildCodeSchool/2022_09_PHP_Lyon_Le_plateau" class="" target="_blank">
					<img class="logoGitHub" src="assets/images/gitHubLogo.png" alt="Logo gitHub"></a>
			</div>
		</div>

		<div class='m-3 mb-5'>
			<h2 class="text-center">L'équipe du Plateau</h1>
			<div class="mt-3 container">
				<div class="d-flex justify-content-center flex-wrap col-sm-10 col-md-8 col-lg-5 mx-auto">
					<a href="https://www.linkedin.com/in/charlenedr/" class="linkedin" target="_blank">
						<img class="teamPicture shadow m-2" src="assets/images/CDR_P2.jpg" alt="Photo de l'équipe du plateau"></a>
					<a href="https://www.linkedin.com/in/ibrahim-mohamed-26b0b0253/" class="linkedin" target="_blank">
						<img class="teamPicture shadow m-2" src="assets/images/IMO_P2.jpg" alt="Photo de l'équipe du plateau"></a>
					<a href="https://www.linkedin.com/in/j%C3%A9r%C3%B4me-dannfald/" class="linkedin" target="_blank">
						<img class="teamPicture shadow m-2" src="assets/images/JDA_P2.jpg" alt="Photo de l'équipe du plateau"></a>
					<a href="https://www.linkedin.com/in/matthieu-dufloux-036a498a/" class="linkedin" target="_blank">
						<img class="teamPicture shadow m-2" src="assets/images/MDU_P2.jpg" alt="Photo de l'équipe du plateau"></a>
					<a href="https://www.linkedin.com/in/kevin-albespy/" class="linkedin" target="_blank">
						<img class="teamPicture shadow m-2" src="assets/images/KAL_P2.jpg" alt="Photo de l'équipe du plateau"></a>
				</div>
			</div>
		</main>
	{% endblock %}
